@import '../../../../../components/variables.css';


.Block {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  min-width: var(--Size04);
  max-width: var(--Size04);
}

.Container {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 16px;
  padding: 16px;
  border-radius: 16px;
}

.Title {
  display: block;
  width: auto;
  margin: 0;
  padding: 16px;
}

.Title {
  color: var(--ColorDark00Alpha100);
}

.Divider {
  margin: 16px;
  background: var(--ColorLight03);
}

.List {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
}

.List .Item {
  display: block;
  width: 100%;
  margin: 0;
  padding: 16px;
}

.List .Item .Title,
.List .Item .Glyph {
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 0;
  line-height: 16px;
  color: var(--ColorBrand00Alpha080);
}

.List .Item .Glyph {
  font-size: 16px;
  margin-top: -4px;
  margin-right: 16px;
}

.List .Item .Label {
  cursor: default;
  display: block;
  float: right;
  width: auto;
  margin: 0;
  padding: 0;
  margin-right: 32px;
  line-height: 16px;
  color: var(--ColorDark00Alpha040);
}


.List .Item:hover .Title,
.List .Item:hover .Glyph {
  color: var(--ColorBrand00Alpha100);
}

.Background.Color {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--ColorLight00);
  border-radius: 16px;
}