:root {

  /*
   * Layout
   * ======================================================================== */

   --Size01: 128px;
   --Size02: 256px;
   --Size03: 384px;
   --Size04: 512px;
   --Size05: 640px;
   --Size06: 768px;                              /* Extra Small - Phone        */
   --Size07: 896px;
   --Size08: 1024px;
   --Size09: 1152px;                             /* Small       - Tablet       */
   --Size10: 1280px;
   --Size11: 1408px;
   --Size12: 1536px;                             /* Medium      - Laptop       */
 
   /*
    * Typography
    * ======================================================================== */
 
   --Font: 'HelveticaNeue-Light', sans-serif;
 
   /*
    * Colors
    * ======================================================================== */

   --ColorLight00: rgb(255, 255, 255);
   --ColorLight01: rgb(248, 248, 248);
   --ColorLight02: rgb(240, 240, 240);   
   --ColorLight03: rgb(232, 232, 232);
   --ColorLight04: rgb(228, 228, 228);

   --ColorLight00Alpha020: rgba(255, 255, 255, 0.2);
   --ColorLight00Alpha040: rgba(255, 255, 255, 0.4);
   --ColorLight00Alpha060: rgba(255, 255, 255, 0.6);
   --ColorLight00Alpha080: rgba(255, 255, 255, 0.8);
   --ColorLight00Alpha100: rgba(255, 255, 255, 1);

   --ColorDark00: rgb(0, 0, 0);
   --ColorDark01: rgb(8, 8, 8);
   --ColorDark02: rgb(16, 16, 16);   
   --ColorDark03: rgb(24, 24, 24);
   --ColorDark04: rgb(32, 32, 32);

   --ColorDark00Alpha020: rgba(0, 0, 0, 0.2);
   --ColorDark00Alpha040: rgba(0, 0, 0, 0.4);
   --ColorDark00Alpha060: rgba(0, 0, 0, 0.6);
   --ColorDark00Alpha080: rgba(0, 0, 0, 0.8);
   --ColorDark00Alpha100: rgba(0, 0, 0, 1);

   --ColorBrand00: rgb(78, 198, 174);
   --ColorBrand01: rgb(64, 149, 224);

   --ColorBrand00Alpha020: rgba(78, 198, 174, 0.2);
   --ColorBrand00Alpha040: rgba(78, 198, 174, 0.4);
   --ColorBrand00Alpha060: rgba(78, 198, 174, 0.6);
   --ColorBrand00Alpha080: rgba(78, 198, 174, 0.8);
   --ColorBrand00Alpha100: rgba(78, 198, 174, 1);

   --ColorBrand01Alpha020: rgba(64, 149, 224, 0.2);
   --ColorBrand01Alpha040: rgba(64, 149, 224, 0.4);
   --ColorBrand01Alpha060: rgba(64, 149, 224, 0.6);
   --ColorBrand01Alpha080: rgba(64, 149, 224, 0.8);
   --ColorBrand01Alpha100: rgba(64, 149, 224, 1);

   /*
    * Gradients
    * ======================================================================== */
 
   --GradientLight: linear-gradient(45deg, rgb(255, 255, 255), rgb(224, 224, 224));
   --GradientLightTop: linear-gradient(0deg, rgb(255, 255, 255), rgb(224, 224, 224));
   --GradientLightBottom: linear-gradient(180deg, rgb(255, 255, 255), rgb(224, 224, 224));

   --GradientDark: linear-gradient(45deg, rgb(0, 0, 0), rgb(32, 32, 32));
   --GradientDarkTop: linear-gradient(0deg, rgb(0, 0, 0), rgb(32, 32, 32));
   --GradientDarkBottom: linear-gradient(180deg, rgb(0, 0, 0), rgb(32, 32, 32));

   --GradientBrand: linear-gradient(45deg, rgb(78, 198, 174), rgb(64, 149, 224));
 
   /*
    * Shadows
    * ======================================================================== */
 
   --Shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.08);

}
